/* GOOGLE FONTS ENLACE */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    margin:0px;
    padding:0px;
    font-family:'Oswald';
}

.contenedor-cabecera-menu {
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:85px;
    box-shadow:0px 1px 20px black;
}

/* CABECERA */
.seccion-cabecera {
    display:flex;
    align-items:center;
    font-size:15px;
    margin:1rem 0.5rem;
}

.seccion-cabecera a {
    font-size:20px;
    color:#FFC100;
    margin:0rem 0.5rem;
}

.seccion-cabecera a:hover {
    color:#CB8A00;
    transition-duration:0.5s;
}

.seccion-cabecera h1 {
    color:#FFC100;
}

/* NAVEGACION */
.seccion-menu {
    margin:0rem 0.5rem;
}

.elementos-menu {
    display:flex;
    list-style:none;
}

.elementos-menu li {
    padding:0rem 1rem;
    margin:auto;
}

.elementos-menu li a {
    text-decoration:none;
    color:#FFC100;
} 

.elementos-menu li a:hover {
    color:#CB8A00;
    transition-duration:0.5s;
}

/* SECCION DE INTRODUCCION */
.seccion-introduccion {
    margin:3rem 6rem;
    padding:1rem 2rem;
}

.seccion-introduccion:hover {
    transition-duration:0.5s;
    box-shadow:1px 1px 20px black;
}

.elementos-introduccion {
    margin:0rem 3rem;
}

.elementos-introduccion h2 {
    text-align:center;
    color:#FFC100;
    font-size:30px;
    margin:0rem 0rem;
}

.elementos-introduccion p {
    text-align:center;
}

.elementos-introduccion div {
    display:flex;
    justify-content:center;
}

.elementos-introduccion a {
    color:white;
    text-decoration:none;
    font-size:13px;
    background-color:#FFC100;
    padding:7px 10px;
    letter-spacing:1px;
    border-radius:5px;
}

.elementos-introduccion a:hover {
    background-color:#CB8A00;
    transition-duration:0.5s;
}